{% extends 'common.html' %} 
{% load static %}
{% block content %} 
<body>
	<div class="displayflexclass">
		<div class="container">
			<div class="row"> 
				{% if p_data %} 
					{% for i in p_data %} 
						<div class="col-md-3">
							<div class="ibox" style="    margin-left: 15px;
						margin-top: 15px;">
								<div class="product-cart-wrap mb-30 wow animate__animated animate__fadeIn" data-wow-delay=".0s">
									<div class="product-img-action-wrap">
										<div class="product-img product-img-zoom" style="width: 80%;
									height: 30%;
									border-radius: 20px;
									margin: auto;">
									<a href={% url "singlep" i.id %}  target="_blank">
										<img class="default-img" src={{ i.product_image.url}} alt={{i.product_name}} target="" />
										<img class="hover-img" src={{i.product_image.url}} alt={{i.product_name}} />
									</a>
								</div>
							</div>
							<div class="product-action-1"></div>
							<div class="product-badges product-badges-position product-badges-mrg">
								<span class="hot">Hot</span>
							</div>
							<div class='content-wrap' style="margin-bottom:5px;padding: 0 20px 20px;">
								<div class="product-category" style="font-size: 12px;margin-top:15px;">
									<a href="#" style="color: #adadad">{{i.product_category}}</a>
								</div>
								<h2 style="margin-bottom:5px;margin:10px;">
									<a href="#" style="font-size: 16px;
											font-weight: 700;
											margin-bottom:5px;color: #253d4e;
											">{{i.product_name}}</a>
								</h2>
								<div class="product-rate-cover" style="margin-bottom:10px;">
									<div class="product-rate d-inline-block">
										<div class="product-rating" style="width: 50%"></div>
									</div>
									<span class="font-small ml-5 text-muted"> (2)</span>
								</div>
								<div>
									<span class="font-small text-muted">By {{c_data}}</span>
								</div>
								<div class="product-card-bottom" style="marging-top:5px;">
									<div class="product-price">
										<span style="font-size:22px;color:#3bb77e;font-family:quicksand,sans-serif">₹ {{i.product_price}}</span>
										<br>
										<span class="old-price" style="text-decoration:line-through;font-weight:700;"> ₹ {{i.product_old_price}}</span>
									</div>
									<div class="add-cart" style="margin-left:100px;">
										<a class="add" href={% url "singlep" i.id %} target="_blank">
											<i class="fi-rs-eye mr-5"></i>View </a>
									</div>
									<br>
								</div>
							</div>
						</div>
					</div>
				</div> {% endfor %} {% endif %} </div>
		</div>
	</div>
</body>
<div id="preloader-active">
	<div class="preloader d-flex align-items-center justify-content-center">
		<div class="preloader-inner position-relative">
			<div class="text-center">
				<img src="{% static 'assets/imgs/theme/loading.gif' %}" alt="" />
			</div>
		</div>
	</div>
</div>
<script data-cfasync="false" src="{% static 'assets/js/email-decode.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
<script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/slick.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/waypoints.js' %}"></script>
<script src="{% static 'assets/js/plugins/wow.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
<script src="{% static 'assets/js/plugins/select2.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/counterup.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
<script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
<script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'assets/js/shop.js' %}"></script>
<script>
	const formOne = document.querySelector(".selector-1");
	const formTwo = document.querySelector(".selector-2");
	const subscribeInputOne = document.getElementById("subscribe-input-1");
	const subscribeInputTwo = document.getElementById("subscribe-input-2");
	const csrf = document.getElementsByName('csrfmiddlewaretoken');
	const boxMessage = document.getElementById("alert-container");
	if (formOne) {
		formOne.addEventListener('submit', e => {
			e.preventDefault();
			$.ajax({
				type: "POST",
				url: "/letter/",
				data: {
					'csrfmiddlewaretoken': csrf[0].value,
					'value': subscribeInputOne.value,
				},
				success: function(response) {
					boxMessage.classList.remove("not-visible")
					boxMessage.innerHTML = `
			<div class="alert alert-${response.alert} alert-dismissible">
				<i class="fi-rs-${response.mark} message-icon"></i>
															${response.message}
															
				<span class="btn-close" data-bs-dismiss="alert" aria-label="close"></span>
			</div>`
					setTimeout(() => {
						boxMessage.classList.add("not-visible")
						subscribeInputOne.value = ""
					}, 3000)
				},
				error: function(error) {
					boxMessage.classList.remove("not-visible")
					boxMessage.innerHTML = `
			<div class="alert alert-danger alert-dismissible">
				<i class="fi-rs-cross message-icon"></i>
															Ops ... some thing went wrong !
															
				<span class="btn-close" data-bs-dismiss="alert" aria-label="close"></span>
			</div>`
					setTimeout(() => {
						boxMessage.classList.add("not-visible")
						subscribeInputOne.value = ""
					}, 2000)
				},
			})
		})
	}
	if (formTwo) {
		formTwo.addEventListener('submit', e => {
			e.preventDefault();
			$.ajax({
				type: "POST",
				url: "/letter/",
				data: {
					'csrfmiddlewaretoken': csrf[0].value,
					'value': subscribeInputTwo.value,
				},
				success: function(response) {
					boxMessage.classList.remove("not-visible")
					boxMessage.innerHTML = `
			<div class="alert alert-${response.alert} alert-dismissible">
				<i class="fi-rs-${response.mark} message-icon"></i>
															${response.message}
															
				<span class="btn-close" data-bs-dismiss="alert" aria-label="close"></span>
			</div>`
					setTimeout(() => {
						boxMessage.classList.add("not-visible")
						subscribeInputTwo.value = ""
					}, 3000)
				},
				error: function(error) {
					boxMessage.classList.remove("not-visible")
					boxMessage.innerHTML = `
			<div class="alert alert-danger alert-dismissible">
				<i class="fi-rs-cross message-icon"></i>
															Ops ... some thing went wrong !
															
				<span class="btn-close" data-bs-dismiss="alert" aria-label="close"></span>
			</div>`
					setTimeout(() => {
						boxMessage.classList.add("not-visible")
						subscribeInputTwo.value = ""
					}, 2000)
				},
			})
		})
	}
</script> {% endblock %}